<!DOCTYPE html>
<html>
<p>
  <h1 color:white><%= @song.name %></h1>
</p>
  <div class="pull-right">
  	<%= link_to 'Edit', edit_song_path(@song) %> |
  	<%= link_to 'Back', songs_path %>
  </div>

<body background="http://wallpapers-best.com/uploads/posts/2015-10/11_black_jaguar.jpg">
<p id="notice"><%= notice %></p>
<br><br><br><br><br><br><iframe width="800" height="410" src="https://www.youtube.com/embed/F9kXstb9FF4" frameborder="0" allowfullscreen></iframe>

</body>
</html>





