<!DOCTYPE html>
<html>
  <div class="pull-right">
  	<%= link_to 'Edit', edit_concert_path(@concert) %> |
  	<%= link_to 'Back', concerts_path %>
  </div>

<body background="http://hdgifs.com/wp-content/uploads/2017/01/giphy-5.gif">
<p id="notice"><%= notice %></p>
<br><br><br><br><br><br><iframe width="1200" height="635" src="https://www.youtube.com/embed/6CnCN5vKc3o" frameborder="0" allowfullscreen></iframe>

</body>
</html>
